body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active-tab {
  transition: 0.5s;
  user-select: none;
  /* color: rgba(79, 70, 229, var(--tw-bg-opacity)); */

}

/* Toggle B */
input:checked~.dot {
  transform: translateX(100%);
  /* background-color: red; */
  /* background-color: var(--theme-color-primary); */
}

.shadowme {
  box-shadow: 5px 19px 20px 6px #fafafae3;
  /* background-color: aqua; */
  border: 2px solid #eeeeee5e;

}

@tailwind base;
@tailwind components;
@tailwind utilities;